<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.spring.mapper.RegionsMapper">

    <resultMap id="BaseRegionsEntityResultMap" type="com.practice.spring.domain.entity.RegionsEntity">
        <id column="REGION_ID" jdbcType="NUMERIC" property="regionId" />
        <result column="REGION_NAME" jdbcType="VARCHAR" property="regionName" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
        delete from REGIONS
        where REGION_ID = #{regionId,jdbcType=NUMERIC}
    </delete>

    <insert id="insert" parameterType="com.practice.spring.domain.entity.RegionsEntity">
        insert into REGIONS (REGION_ID, REGION_NAME)
        values (#{regionId,jdbcType=NUMERIC}, #{regionName,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.practice.spring.domain.entity.RegionsEntity">
        update REGIONS
        set REGION_NAME = #{regionName,jdbcType=VARCHAR}
        where REGION_ID = #{regionId,jdbcType=NUMERIC}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseRegionsEntityResultMap">
        select REGION_ID, REGION_NAME
        from REGIONS
        where REGION_ID = #{regionId,jdbcType=NUMERIC}
    </select>

    <select id="selectAll" resultMap="BaseRegionsEntityResultMap">
        select REGION_ID, REGION_NAME
        from REGIONS
    </select>

</mapper>