<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.spring.mapper.AuthoritiesMapper">

    <resultMap id="BaseAuthoritiesEntityResultMap" type="com.test.spring.domain.entity.AuthoritiesEntity">
        <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
        <result column="AUTHORITY" jdbcType="VARCHAR" property="authority" />
    </resultMap>

    <insert id="insert" parameterType="com.test.spring.domain.entity.AuthoritiesEntity">
        insert into AUTHORITIES (MEMBER_ID, AUTHORITY)
        values (#{memberId,jdbcType=VARCHAR}, #{authority,jdbcType=VARCHAR})
    </insert>

    <select id="selectAll" resultMap="BaseAuthoritiesEntityResultMap">
        select MEMBER_ID, AUTHORITY
        from AUTHORITIES
    </select>

</mapper>