<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.spring.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.test.spring.domain.entity.UsersEntity">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_PASSWORD" jdbcType="VARCHAR" property="userPassword" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_NICKNAME" jdbcType="VARCHAR" property="userNickname" />
    <result column="BIRTH_DATE" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone" />
    <result column="LICENSE" jdbcType="VARCHAR" property="license" />
    <result column="USER_REG_DATE" jdbcType="TIMESTAMP" property="userRegDate" />
    <result column="USER_UPDATE" jdbcType="TIMESTAMP" property="userUpdate" />
    <result column="ENABLED" jdbcType="CHAR" property="enabled" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from USERS
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.test.spring.domain.entity.UsersEntity">
    insert into USERS (USER_ID, USER_PASSWORD, USER_NAME, 
      USER_NICKNAME, BIRTH_DATE, USER_EMAIL, 
      USER_PHONE, LICENSE, USER_REG_DATE, 
      USER_UPDATE, ENABLED)
    values (#{userId,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userNickname,jdbcType=VARCHAR}, #{birthDate,jdbcType=TIMESTAMP}, #{userEmail,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=VARCHAR}, #{license,jdbcType=VARCHAR}, #{userRegDate,jdbcType=TIMESTAMP}, 
      #{userUpdate,jdbcType=TIMESTAMP}, #{enabled,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.test.spring.domain.entity.UsersEntity">
    update USERS
    set USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_NICKNAME = #{userNickname,jdbcType=VARCHAR},
      BIRTH_DATE = #{birthDate,jdbcType=TIMESTAMP},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      LICENSE = #{license,jdbcType=VARCHAR},
      USER_REG_DATE = #{userRegDate,jdbcType=TIMESTAMP},
      USER_UPDATE = #{userUpdate,jdbcType=TIMESTAMP},
      ENABLED = #{enabled,jdbcType=CHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select USER_ID, USER_PASSWORD, USER_NAME, USER_NICKNAME, BIRTH_DATE, USER_EMAIL, 
    USER_PHONE, LICENSE, USER_REG_DATE, USER_UPDATE, ENABLED
    from USERS
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select USER_ID, USER_PASSWORD, USER_NAME, USER_NICKNAME, BIRTH_DATE, USER_EMAIL, 
    USER_PHONE, LICENSE, USER_REG_DATE, USER_UPDATE, ENABLED
    from USERS
  </select>
</mapper>