<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds" >

    <property resource="logback.properties" />

    <timestamp key="date" datePattern="yyyyMMdd" />
    <timestamp key="year" datePattern="YYYY" />
    <timestamp key="month" datePattern="MM" />
    <timestamp key="day" datePattern="dd" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
              <charset>UTF-8</charset>
              <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%t] [%c]%m%n</Pattern>
            </encoder>
        </layout>
    </appender>

    <!-- <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${year}/${month}/${date}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%t] [%c] %m%n</Pattern>
        </encoder>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
          <fileNamePattern>logs/${year}/${month}/${date}_%i.log.zip</fileNamePattern>
          <minIndex>1</minIndex>
          <maxIndex>10</maxIndex>
        </rollingPolicy>
        
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
          <maxFileSize>30MB</maxFileSize>
        </triggeringPolicy>
    </appender> -->

      <!-- HikariCP -->
      <logger name="com.zaxxer.hikari" level="INFO">
        <appender-ref ref="console" />
      </logger>

      <!-- Spring -->
      <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="console" />
      </logger>

    <root level="warn">
        <!-- <appender-ref ref="file" /> -->
        <appender-ref ref="console" />
    </root>

</configuration>